.App{
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: 100vh;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab2{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  height:50px;
  background-color: red;
  align-content: center;
  }
.tab1{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    }
    .link{
      margin-right: 20px;
      color:black;
      text-decoration: none;
      align-self: center;
      justify-content: center;
      right: 10px;
      float: right;
    }
    .link2{
      margin-left: 20px;
      margin-right: 20px;
      color:white;
      text-decoration: none;
      align-self: center;
      justify-content: center;
      right: 10px;
    }
    .redlink{
      position: relative;
      float: right;
    }
    .linkquote{
      text-decoration: none;
      margin-right: 20px;
      color:black;
     
      align-self: center;
      justify-content: center;
      right: 10px;
      float: right;
      background-color: red;
      height: min-content;
    }
    .player-wrapper{
      margin-top: 100px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    }

